<h1>FAQ</h1>
<p>This page does not contain any information for you</p>
<p>If you have any questions you can simply <%= link_to "google", "http://www.google.com", style: "color:#ecf0f1"  %> it</p>


<p>But here are some questions without answers:</p>
<ul class="list-group">
  <li class="list-group-item">What is the question to the answer '42'?</li>
  <li class="list-group-item">How high can a small fly?</li>
  <li class="list-group-item">What is Donald Trump?</li>
</ul>